.ar-spac{
    height: 10px;
}
.inp-find-user-name{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.ds-btn-find{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
